@import "colours.scss";
.list-container {
  display: flex;
  flex-direction: column;
  // background-color: orange;
  padding: 10px;
}
h2 {
  font-size: 1.9rem;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.localisation-container,
.member-container,
.ownerInfo {
  display: flex;
  // background-color: blue;
  word-spacing: 1.2px;
  font-size: 1.3rem;
  margin-top: 4px;
  .localisation-span,
  .member-span,
  .owner-span {
    width: 25px;
  }
}
.fullName {
  font-weight: bold;
  margin-left: 2px;
}
.joinGroup {
  margin-top: 20px;

  .joinGroup-btn {
    background-color: #f65858;
    border: 1px solid #f65858;
    color: white;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    box-sizing: border-box;
  }
}
.apropos {
  margin-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.24);
}
.apropos-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  font-size: 1.4rem;
}
// .stripe {
//   background-color: #fff;
//   margin-bottom: 0;

//   :first-child {
//     border-top: none;
//   }
// }

// .border--none {
//   border-width: 0 !important;
// }
// .bounds {
//   box-sizing: border-box;
//   margin-left: auto;
//   margin-right: auto;
//   width: 100%;
// }
// .bounds--wide {
//   max-width: 1100px;
// }
// .padding--none {
//   padding: 0;
// }
// .section--flush {
//   margin: 0;
// }
// .section--hasSeparator {
//   border-bottom: 1px solid rgba(46, 62, 72, 0.12);
// }
// .flex--column {
//   @include flexCenter(column, flex-start);
//   height: 100%;
//   flex-wrap: nowrap;
// }
// .flex > .flex-item--3 {
//   flex-grow: 3;
// }
// .flex--column > .flex-item {
//   flex-basis: auto;
//   padding-left: 0;
//   width: 100%;
// }
// .groupHomeHeader-bannerContainer {
//   flex-direction: column;
// }
// .flex--center {
//   justify-content: center;
// }
// .bannerLockup-hero {
//   align-self: center;
//   grid-column-start: 1;
//   grid-column-end: -1;
//   grid-row-start: 1;
//   grid-row-end: span 2;
// }
// .keepAspect--16-9 {
//   margin-bottom: 0;
// }
// .groupHomeHeader-banner {
//   position: relative;
//   background-size: cover;
//   background-position: center 40%;
// }
// .flex > .flex-item--2 {
//   flex-grow: 2;
// }
// .flex--column > .flex-item {
//   flex-basis: auto;
//   width: 100%;
// }
// .groupHomeHeader-groupInfo {
//   position: relative;
//   padding-left: 16px !important;
//   padding-right: 16px;
// }
// .flex--column {
//   box-sizing: border-box;
//   @include flexCenter(column, flex-start);
//   height: 100%;
//   flex-wrap: nowrap;
// }
// .flex > .flex-item--shrink {
//   flex-basis: auto;
//   flex-grow: 0;
//   flex-shrink: 0;
//   width: auto;
// }
// .text--small {
//   font-size: 1.2rem;
// }
// .noRating--paddingTop {
//   padding-top: 10px;
// }

// .flex--row {
//   @include flexCenter(row, flex-start);
//   flex-wrap: nowrap;
// }
// .flex--row > .flex-item:first-child {
//   padding-left: 0;
// }
// .groupHomeHeader .organizer-row {
//   padding: 0;
// }
// .flex--alignCenter {
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
// }
// .text--bold {
//   font-weight: bold;
// }
// .joinGroup {
//   .joinGroup-btn {
//     background-color: #f65858;
//     border: 1px solid #f65858;
//     color: white;
//     display: inline-flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
//     padding: 10px 20px;
//     border-radius: 5px;
//     box-sizing: border-box;
//   }
// }
