@import "colours.scss";
.list-container {
  display: flex;
  flex-direction: column;
  // background-color: orange;
  padding: 10px;
}
h2 {
  font-size: 1.9rem;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.localisation-container,
.member-container,
.ownerInfo {
  display: flex;
  // background-color: blue;
  word-spacing: 1.2px;
  font-size: 1.3rem;
  margin-top: 4px;
  .localisation-span,
  .member-span,
  .owner-span {
    width: 25px;
  }
}
.fullName {
  font-weight: bold;
  margin-left: 2px;
}
.joinGroup {
  margin-top: 20px;

  .joinGroup-btn {
    background-color: #f65858;
    border: 1px solid #f65858;
    color: white;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    box-sizing: border-box;
  }
}
.apropos {
  margin-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.24);
}
.apropos-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  font-size: 1.4rem;
}
