// .Modal-content {
//   // position: absolute;
//   // top: 30%;
//   // left: 22%;
//   // height: 31%;
//   // width: 200px;
//   // background-color: rgba(147, 112, 219, 0.4);
// }

.modal-dialogue {
  width: 50%;
  background-color: rgba(200, 0, 200, 0.12);
  .show {
    width: 50%;
    height: auto;
  }
}
