.Mymeetup-container {
  // background-color: orange;
  text-align: center;
  font-family: "Roboto" sans-serif;
  letter-spacing: 1.3px;
  h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  .MymeetupBorder {
    margin: 0 auto;
    border-bottom: 1px solid black;
  }
  .MyMeetup-list-container {
    // background-color: blue;
    width: 80%;
    margin: 0 auto;
    padding: 0 5px;
    // text-align: justify;
    .listName {
      font-weight: 600;
      font-size: 1.9rem;
      font-family: "Roboto" sans-serif;
      margin: 10px 0;
      display: flex;
      flex-direction: column;
      .edit-container {
        letter-spacing: 1.7px;
        padding: 5px;
        cursor: pointer;
        // margin: 5px;
        :hover {
          font-weight: bold;
        }
      }
      span {
        font-size: 1.2rem;
        padding: 6px;
        word-spacing: 15px;

        border: 1px solid black;
        border-radius: 5px;
        width: fit-content;
      }
    }
    .listDescription {
      text-align: justify;
      margin: 13px 0;
      font-family: "Roboto", sans-serif;
      font-size: 1.65rem;
      @media (min-width: 520px) {
        text-align: center;
      }
    }
  }
  .listInscrit {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.54);
    text-align: start;
    margin: 10px 0px;
    @media (min-width: 520px) {
      text-align: center;
    }
  }
}
