ul {
  padding-left: 0;
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

/* .App-header {
  background-color: #eceff3;
  height: 15vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
/* color: white; */
/* } */
@media (max-width: 420px) {
  .App-header {
    height: 10vh;
    width: 100%;
  }
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .headerNav-container {
  display: flex;
  width: 90%;
} */
